.tajikistan__bottom-card-title {
  font-family: "ppneuemontreal";
}
.tajikistan__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1279px) {
  .tajikistan {
    display: none !important;
  }
  .tajikistan__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .tajikistan__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
