.thirdCivilization__top-title {
  font-family: "ppneuemontreal";
}
.thirdCivilization__top-text {
  font-family: "ppneuemontreal";
}
.thirdCivilization__bottom-title {
  font-family: "ppneuemontreal";
}
.thirdCivilization__bottom-second-text {
  font-family: "ppneuemontreal";
}
