.thirdCivilization {
}
.thirdCivilization__container {
}
.thirdCivilization__top-box {
}
.thirdCivilization__top-title {
  font-family: "ppneuemontreal";
}
.thirdCivilization__top-text {
  font-family: "ppneuemontreal";
}
.thirdCivilization__bottom-box {
}
.thirdCivilization__bottom-title {
  font-family: "ppneuemontreal";
}
.thirdCivilization__bottom-text {
}
.thirdCivilization__bottom-second-text {
  font-family: "ppneuemontreal";
}
.thirdCivilization__bottom-box-images {
}
.thirdCivilization__mini-bottom {
}
.thirdCivilization__bottom-left-image {
}
.thirdCivilization__bottom-right-image-box {
}
.thirdCivilization__bottom-right-image {
}
