.hero {
	position: relative;
	height: 100vh;
	@include flex-center;
	background: rgba($color: #000000, $alpha: 0.5);

	&_bg-image {
		position: absolute;
		z-index: -10;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__container {
		@include flex-items-center;
		flex-direction: column;
		color: var(--color-white);

		& .title {
			font-size: 10rem;
			text-transform: capitalize;
			line-height: normal;
		}

		& .subtitle {
			font-size: 2.25rem;
			line-height: normal;
		}
	}
}
