.hero {
	position: relative;
	height: 100vh;
	@include flex-center;
	background: rgba($color: #000000, $alpha: 0.5);

	&_bg-image {
		position: absolute;
		z-index: -10;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__container {
		@include flex-items-center;
		flex-direction: column;
		color: var(--color-white);

		& .title {
			font-size: 4rem;
			text-transform: capitalize;
			line-height: normal;
			margin-bottom: 16px;
		}

		& .subtitle {
			font-size: 1.75rem;
			line-height: normal;
			text-align: center;
		}
	}
}

@media screen and (min-width: 768px) {
	.hero {
		&__container {
			& .title {
				font-size: 8rem;
			}

			& .subtitle {
				font-size: 2.5rem;
			}
		}
	}
}

@media screen and (min-width: 1280px) {
	.hero {
		&__container {
			& .title {
				font-size: 10rem;
			}
		}
	}	
}