.civilization__top-title {
  font-family: "ppneuemontreal";
}
.civilization__top-text {
  font-family: "ppneuemontreal";
}
.civilization__bottom-title {
  font-family: "ppneuemontreal";
}
.civilization__bottom-second-text {
  font-family: "ppneuemontreal";
}