.civilization {
}
.civilization__container {
}
.civilization__top-box {
}
.civilization__top-title {
}
.civilization__top-text {
}
.civilization__bottom-box {
}
.civilization__bottom-title {
}
.civilization__bottom-text {
}
.civilization__bottom-second-text {
}
.civilization__bottom-box-images {
}
.civilization__mini-bottom {
}
.civilization__bottom-left-image {
}
.civilization__bottom-right-image-box {
}
.civilization__bottom-right-image {
}
