.filter {
  display: none !important;
}
.filter__top-box::-webkit-scrollbar {
  display: none !important;
}
.filter__top-buttons {
  white-space: nowrap;
  font-family: "ppneuemontreal";
}
.filter__bottom-card-title {
  font-family: "ppneuemontreal";
}
.filter__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1280px) {
  .filter {
    display: block !important;
  }
  .filter__top-box::-webkit-scrollbar {
    display: none !important;
  }
  .filter__top-buttons {
    font-family: "ppneuemontreal";
  }
  .filter__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .filter__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
