.filter {
  display: none !important;
}
.filter__container {
}
.filter__top-box::-webkit-scrollbar {
  display: none !important;
}
.filter__top-buttons {
  font-family: "ppneuemontreal";
}
.filter__bottom-box {
}
.filter__bottom-card {
}
.filter__bottom-card-image {
}
.filter__bottom-card-title {
  font-family: "ppneuemontreal";
}
.filter__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1024px) {
  .filter {
    display: block !important;
  }
  .filter__container {
  }
  .filter__top-box::-webkit-scrollbar {
    display: none !important;
  }
  .filter__top-buttons {
    font-family: "ppneuemontreal";
  }
  .filter__bottom-box {
  }
  .filter__bottom-card {
  }
  .filter__bottom-card-image {
  }
  .filter__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .filter__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
