.heroSecond {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "ppneuemontreal";
}
.heroSecond__container {
  position: relative;
  z-index: 1;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}