.heroSecond {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.heroSecond__container {
  position: relative;
  z-index: 1;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.heroSecond__title {
  font-family: "ppneuemontreal";
}
.heroSecond__text {
  font-family: "ppneuemontreal";
}
.heroSecond__span-text {
  font-family: "ppneuemontreal";
}
.heroSecond__button {
}
@media (max-width: 1024px) {
  .heroSecond {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .heroSecond::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../../public/images/uzbekistan__xl.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: center;
    animation: zoomInOut 10s ease-in-out infinite;
    z-index: 0;
  }
  .heroSecond__container {
    position: relative;
    z-index: 1;
  }
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .heroSecond__title {
    font-family: "ppneuemontreal";
  }
  .heroSecond__text {
    font-family: "ppneuemontreal";
  }
  .heroSecond__span-text {
    font-family: "ppneuemontreal";
  }
  .heroSecond__button {
  }
}
@media (max-width: 767px) {
  .heroSecond {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .heroSecond::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../../public/images/uzbekistan__xl.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: center;
    animation: zoomInOut 10s ease-in-out infinite;
    z-index: 0;
  }
  .heroSecond__container {
    position: relative;
    z-index: 1;
  }
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .heroSecond__title {
    font-family: "ppneuemontreal";
  }
  .heroSecond__text {
    font-family: "ppneuemontreal";
  }
  .heroSecond__span-text {
    font-family: "ppneuemontreal";
  }
  .heroSecond__button {
  }
}
