.uzbekistan {
}
.uzbekistan__container {
}
.uzbekistan__circle-map {
}
.uzbekistan__top-map {
}
.uzbekistan__top-box {
}
.uzbekistan__bottom-card {
}
.uzbekistan__bottom-card-image {
}
.uzbekistan__bottom-card-title {
  font-family: "ppneuemontreal";
}
.uzbekistan__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1279px) {
  .uzbekistan {
    display: none !important;
  }
  .uzbekistan__container {
  }
  .uzbekistan__circle-map {
  }
  .uzbekistan__top-map {
  }
  .uzbekistan__top-box {
  }
  .uzbekistan__bottom-card {
  }
  .uzbekistan__bottom-card-image {
  }
  .uzbekistan__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .uzbekistan__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
