.uzbekistan__bottom-card-title {
  font-family: "ppneuemontreal";
}
.uzbekistan__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1279px) {
  .uzbekistan {
    display: none !important;
  }
  .uzbekistan__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .uzbekistan__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
