.header__left-open-burger-button {
  display: none !important;
}
.header__left-mini-logo {
  display: inline-block !important;
}
.header__middle-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
.header__middle-mini-logo {
  display: none !important;
}
.header__middle-nav {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
.header__middle-list {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 30px !important;
}
.header__middle-lists {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
.header__middle-links {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8.04px !important;
  padding: 18px 24px;
  border-radius: 33px;
}
.header__middle-links-texts {
  font-family: "ppneuemontreal";
}
.header__right-contact-button {
  display: block;
}
.language-switcher {
  width: 86px;
}
.language-switcher:hover {
  width: 168px;
}
.language-switcher span,
.language-switcher .gray_text {
  display: none;
}
.language-switcher:hover span,
.language-switcher:hover .gray_text {
  display: block;
}
.gray_text {
  color: #ffffff99;
}
.language-switcher-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 768px) {
}
@media (max-width: 1690px) {
  .header__left-open-burger-button {
    display: none !important;
  }
  .header__left-mini-logo {
    display: inline-block !important;
  }
  .header__middle-box {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .header__middle-mini-logo {
    display: none !important;
  }
  .header__middle-nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .header__middle-list {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 50px !important;
  }
  .header__middle-lists {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .header__middle-links {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8.04px !important;
    padding: 12px 24px !important;
    border-radius: 33px;
  }
  .header__middle-links-texts {
    font-family: "ppneuemontreal";
  }
  .header__right-contact-button {
    display: none;
  }
  .language-switcher-text {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 1310px) {
  .header__container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .header__left-open-burger-button {
    display: inline-block !important;
  }
  .header__left-mini-logo {
    display: none !important;
  }
  .header__middle-mini-logo {
    display: inline-block !important;
  }
  .header__middle-nav {
    display: none !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .header__middle-list {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 50px !important;
  }
  .header__middle-lists {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .header__middle-links {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8.04px !important;
  }
  .header__middle-links-texts {
    font-family: "ppneuemontreal";
    font-family: "ppneuemontreal";
  }
  .language-switcher-text {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 767px) {
  .header__container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .header__left-open-burger-button {
    display: inline-block !important;
  }
  .header__left-mini-logo {
    display: none !important;
  }
  .header__middle-mini-logo {
    display: inline-block !important;
  }
  .header__middle-nav {
    display: none !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .header__middle-list {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .header__middle-lists {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 74px !important;
  }
  .header__middle-links {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8.04px !important;
  }
  .header__middle-links-texts {
    font-family: "ppneuemontreal";
    font-family: "ppneuemontreal";
  }
  .language-switcher-text {
    font-family: "ppneuemontreal";
  }
}
