.header {
	width: 100%;
	height: 90px;
	@include flex-items-center;
	position: fixed;
	left: 0;
	z-index: 10;
	color: var(--color-white);

	&__container {
		@include flex-between;

		& .menu_button {
			cursor: pointer;
		}

		& .nav {
			display: none;

			&__list {
				@include flex-items-center;
				column-gap: 24px;

				&--item {
					&-link {
						@include flex-items-center;
						column-gap: 8px;
						font-weight: 500;
						font-size: 1rem;
						text-transform: uppercase;
					}

					& .active {
						padding: 10px 18px;
						border-radius: 22px;
						background: rgba($color: #ffffff, $alpha: 0.7);
						font-weight: 700;
						color: #656267;
					}
				}
			}
		}

		&--wrapper {
			@include flex-items-center;
			column-gap: 60px;

			&-end {
				@include flex-items-center;
				column-gap: 24px;
				font-size: 1.25rem;

				& .contact_button {
					display: none;
					padding: 8px 12px;
					background: #ffffff;
					color: #656267;
				}

				& .lang_button {
					@include flex-items-center;
					column-gap: 8px;
					padding: 8px 12px;
					background: #ffffff66;
					border: 1px solid #b9b9b9;
					border-radius: 32px;
					font-size: 0.875rem;

					& img {
						width: 20px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.header {
		&__container {
			& .menu_button {
				display: none;
			}

			& .nav {
				display: flex;

				&__list {
					&--item {
						& .active {
							padding: 12px 24px;
						}
					}
				}
			}

			&--wrapper {
				column-gap: 30px;

				&-end {
					& .contact_button {
						display: flex;
						border-radius: 32px;
					}

					& .lang_button {
						font-size: 1rem;

						& img {
							width: auto;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1280px) {
	.header {
		&__container {
			& .nav {
				&__list {
					column-gap: 64px;
				}
			}

			&--wrapper {
				column-gap: 60px;

				&-end {
					column-gap: 48px;

					& .contact_button {
						padding: 12px 24px;
					}

					& .lang_button {
						padding: 12px 24px;
					}
				}
			}
		}
	}
}
