.swiper-button-left {
  width: 96px;
  height: 96px;
  background-image: url("../../../public/icons/chevron.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.swiper-button-right {
  width: 96px;
  height: 96px;
  background-image: url("../../../public/icons/chevron.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  cursor: pointer;
}
.carousel .swiper-slide {
  width: 100% !important;
  max-width: 450px !important;
}
.carousel__box {
  transition: 0.4s ease-in-out;
  width: 100% !important;
  max-width: 450px !important;
}
.swiper-slide-active .carousel__box {
  /* box-shadow: rgba(165, 164, 163, 0.829) 0px 3px 8px; */
  transition: 0.4s ease-in-out;
}
.carousel__top-box {
  width: 100% !important;
  height: 250px !important;
}
.carousel__image {
  width: 100% !important;
  height: 390px !important;
  transition: 0.4s ease-in-out;
}
.swiper-slide-active .carousel__image {
  width: 100% !important;
  height: 250px !important;
  transition: 0.4s ease-in-out;
}
.carousel__location-text {
  font-family: "ppneuemontreal";
}
.carousel__bottom-box {
  transition: 0.2s ease-in-out;
  transform: translateY(140px);
}
.swiper-slide-active .carousel__bottom-box {
  transition: 0.4s ease-in-out;
  transform: translateY(0px);
}
.carousel__location-title {
  font-family: "ppneuemontreal";
}
.carousel__price-text {
  font-family: "ppneuemontreal";
}
.carousel__lists-main-box {
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.swiper-slide-active .carousel__lists-main-box {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.carousel__texts {
  font-family: "ppneuemontreal";
}
@media (max-width: 1024px) {
  .swiper-button-left {
    display: none;
    width: 96px;
    height: 96px;
    background-image: url("../../../public/icons/chevron.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .swiper-button-right {
    display: none;
    width: 96px;
    height: 96px;
    background-image: url("../../../public/icons/chevron.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .carousel .swiper-slide {
    width: 100% !important;
    max-width: 327px !important;
  }
  .carousel__box {
    filter: grayscale(1);
    transition: 0.4s ease-in-out;
    width: 100% !important;
    max-width: 327px !important;
  }
  .swiper-slide-active .carousel__box {
    /* box-shadow: rgba(165, 164, 163, 0.829) 0px 3px 8px; */
    transition: 0.4s ease-in-out;
    filter: grayscale(0);
  }
  .carousel__top-box {
    width: 100% !important;
    height: 219.6px !important;
  }
  .carousel__image {
    filter: grayscale(1);
    width: 100% !important;
    transition: 0.4s ease-in-out;
    height: 289.6px !important;
  }
  .swiper-slide-active .carousel__image {
    filter: grayscale(0);
    width: 100% !important;
    transition: 0.4s ease-in-out;
    height: 219.6px !important;
  }
  .carousel__location-text {
    font-family: "ppneuemontreal";
  }
  .carousel__bottom-box {
    transition: 0.2s ease-in-out;
    transform: translateY(90px);
  }
  .swiper-slide-active .carousel__bottom-box {
    transition: 0.4s ease-in-out;
    transform: translateY(0px);
  }
  .carousel__location-title {
    font-family: "ppneuemontreal";
  }
  .carousel__price-text {
    font-family: "ppneuemontreal";
  }
  .carousel__lists-main-box {
    transform: translateY(-100px);
    opacity: 0;
    transition: 0.2s ease-in-out;
  }
  .swiper-slide-active .carousel__lists-main-box {
    transform: translateY(0px);
    opacity: 1;
    transition: 0.4s ease-in-out;
  }
  .carousel__texts {
    font-family: "ppneuemontreal";
  }
}
