.desert {
}
.desert__container {
}
.desert__text {
  font-family: 'ppneuemontreal';
}
.desert__bottom-box {
}
.desert__bottom-title {
  font-family: 'ppneuemontreal';
}
.desert__bottom-text {
  font-family: 'ppneuemontreal';
}
