.explore {
}
.explore__container {
}
.explore__text {
  font-family: 'ppneuemontreal';
}
.explore__bottom-box {
}
.explore__bottom-title {
  font-family: 'ppneuemontreal';
}
.explore__bottom-text {
  font-family: 'ppneuemontreal';
}
