.feedback .container {
  position: relative;
}
.feedback__swiper {
  position: static;
}
.feedback__top-text,
.feedback__top-title,
.feedback__swiper-comment,
.feedback__swiper-name-texts,
.feedback__swiper-job-title {
  font-family: "ppneuemontreal";
}
.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative !important;
  margin-top: 82px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #a5958b;
  opacity: 1;
  border-radius: 12px;
  transition: all 0.5s ease;
  margin: 0 12px !important;
}
.swiper-pagination-bullet-active {
  width: 32px;
  height: 12px;
  background-color: #b4a297;
  border-radius: 12px;
}
@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none !important;
  }
  .swiper-pagination {
    margin-top: 33px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    margin: 0 7px !important;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
    height: 8px;
    border-radius: 999px;
  }
  .feedback__swiper-left-box {
    margin: 0 auto !important;
    width: 90.5% !important;
  }
}