.swiper-button-next::after,
.swiper-button-prev::after {
  display: flex !important;
  backdrop-filter: blur(5px) !important;
}
.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 82px;
  position: relative !important;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  opacity: 1;
  border-radius: 12px;
  transition: all 0.5s ease;
  margin: 0 12px !important;
}
.swiper-pagination-bullet-active {
  width: 32px;
  height: 12px;
  background-color: #b4a297;
  border-radius: 12px;
}
.feedback__top-text {
  font-family: "ppneuemontreal";
}
.feedback__top-title {
  font-family: "ppneuemontreal";
}
.feedback__swiper-left-box {
  margin: 0 0 !important;
}
.feedback__swiper-comment {
  font-family: "ppneuemontreal";
}
.feedback__swiper-name-texts {
  font-family: "ppneuemontreal";
}
.feedback__swiper-job-title {
  font-family: "ppneuemontreal";
}
@media (max-width: 1366px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: flex !important;
    backdrop-filter: blur(5px) !important;
  }
  .swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
    position: relative !important;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d9d9d9;
    opacity: 1;
    border-radius: 12px;
    transition: all 0.5s ease;
    margin: 0 12px !important;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
    height: 12px;
    background-color: #b4a297;
    border-radius: 12px;
  }
  .feedback__top-text {
    font-family: "ppneuemontreal";
  }
  .feedback__top-title {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-left-box {
    margin: 0 0 !important;
  }
  .feedback__swiper-comment {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-name-texts {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-job-title {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 1024px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none !important;
  }
  .swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
    position: relative !important;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d9d9d9;
    opacity: 1;
    border-radius: 12px;
    transition: all 0.5s ease;
    margin: 0 12px !important;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
    height: 12px;
    background-color: #b4a297;
    border-radius: 12px;
  }
  .feedback__top-text {
    font-family: "ppneuemontreal";
  }
  .feedback__top-title {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-left-box {
    margin: 0 auto !important;
  }
  .feedback__swiper-comment {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-name-texts {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-job-title {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 820px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none !important;
  }
  .swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
    position: relative !important;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #d9d9d9;
    opacity: 1;
    border-radius: 999px;
    transition: all 0.5s ease;
    margin: 0 7px !important;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
    height: 8px;
    background-color: #b4a297;
    border-radius: 999px;
  }
  .feedback__top-text {
    font-family: "ppneuemontreal";
  }
  .feedback__top-title {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-left-box {
    margin: 0 auto !important;
    width: 90.5% !important;
  }
  .feedback__swiper-comment {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-name-texts {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-job-title {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 768px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none !important;
  }
  .swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
    position: relative !important;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #d9d9d9;
    opacity: 1;
    border-radius: 999px;
    transition: all 0.5s ease;
    margin: 0 7px !important;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
    height: 8px;
    background-color: #b4a297;
    border-radius: 999px;
  }
  .feedback__top-text {
    font-family: "ppneuemontreal";
  }
  .feedback__top-title {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-left-box {
    margin: 0 auto !important;
  }
  .feedback__swiper-comment {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-name-texts {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-job-title {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 767px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none !important;
  }
  .swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    position: relative !important;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #d9d9d9;
    opacity: 1;
    border-radius: 999px;
    transition: all 0.5s ease;
    margin: 0 7px !important;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
    height: 8px;
    background-color: #b4a297;
    border-radius: 999px;
  }
  .feedback__top-text {
    font-family: "ppneuemontreal";
  }
  .feedback__top-title {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-left-box {
    margin: 0 auto !important;
  }
  .feedback__swiper-comment {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-name-texts {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-job-title {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 414px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none !important;
  }
  .swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    position: relative !important;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #d9d9d9;
    opacity: 1;
    border-radius: 999px;
    transition: all 0.5s ease;
    margin: 0 7px !important;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
    height: 8px;
    background-color: #b4a297;
    border-radius: 999px;
  }
  .feedback__top-text {
    font-family: "ppneuemontreal";
  }
  .feedback__top-title {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-left-box {
    margin: 0 auto !important;
  }
  .feedback__swiper-comment {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-name-texts {
    font-family: "ppneuemontreal";
  }
  .feedback__swiper-job-title {
    font-family: "ppneuemontreal";
  }
}
