.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/images/hero__mini-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__container {
}
.hero__top-box {
}
.hero__top-text {
  font-family: "ppneuemontreal";
}
.hero__top-title {
  font-family: "ppneuemontreal";
}
.hero__top-second-text {
  font-family: "ppneuemontreal";
}
.hero__bottom-box {
}
.hero__contuct-button {
}
@media (max-width: 1024px) {
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/images/hero__mid-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__container {
  }
  .hero__top-box {
  }
  .hero__top-text {
    font-family: "ppneuemontreal";
  }
  .hero__top-title {
    font-family: "ppneuemontreal";
  }
  .hero__top-second-text {
    font-family: "ppneuemontreal";
  }
  .hero__bottom-box {
  }
  .hero__contuct-button {
  }
}
@media (max-width: 767px) {
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/images/hero__mini-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__container {
  }
  .hero__top-box {
  }
  .hero__top-text {
    font-family: "ppneuemontreal";
  }
  .hero__top-title {
    font-family: "ppneuemontreal";
  }
  .hero__top-second-text {
    font-family: "ppneuemontreal";
  }
  .hero__bottom-box {
  }
  .hero__contuct-button {
  }
}