.secondCarousel .swiper-slide {
  width: 100% !important;
  max-width: 480px !important;
}
.swiper-button-right {
  cursor: pointer !important;
  width: 96px !important;
  height: 96px !important;
  background-image: url("../../../public/icons/right__chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-72px) !important;
}
.swiper-button-left {
  cursor: pointer !important;
  width: 96px !important;
  height: 96px !important;
  background-image: url("../../../public/icons/chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-72px) !important;
}
.secondCarousel__box {
  width: 100%;
  height: 480px;
}
.secondCarousel__images {
  width: 100%;
  height: 480px;
}
.secondCarousel__image-texts {
  opacity: 0;
  font-family: "ppneuemontreal";
  transition: 0.8s ease-in-out;
  transform: translateY(100px);
}
.swiper-slide-active .secondCarousel__image-texts {
  opacity: 1;
  transition: 0.8s ease-in-out;
  transform: translateY(0px);
}
@media (max-width: 1024px) {
  .secondCarousel .swiper-slide {
    width: 100% !important;
    max-width: 480px !important;
  }
  .swiper-button-right {
    display: none !important;
    width: 96px !important;
    height: 96px !important;
    background-image: url("../../../public/icons/right__chevron.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-100px) !important;
  }
  .swiper-button-left {
    display: none !important;
    width: 96px !important;
    height: 96px !important;
    background-image: url("../../../public/icons/chevron.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-100px) !important;
  }
  .secondCarousel__box {
    width: 100%;
    height: 480px;
  }
  .secondCarousel__images {
    width: 100%;
    height: 480px;
  }
  .secondCarousel__image-texts {
    opacity: 0;
    font-family: "ppneuemontreal";
    transition: 0.8s ease-in-out;
    transform: translateY(100px);
  }
  .swiper-slide-active .secondCarousel__image-texts {
    opacity: 1;
    transition: 0.8s ease-in-out;
    transform: translateY(0px);
  }
}
@media (max-width: 767px) {
  .secondCarousel .swiper-slide {
    width: 100% !important;
    max-width: 327px !important;
  }
  .swiper-button-right {
    display: none !important;
  }
  .swiper-button-left {
    display: none !important;
  }
  .secondCarousel__box {
    width: 100%;
    height: 327px;
  }
  .secondCarousel__images {
    width: 100%;
    height: 327px;
  }
  .secondCarousel__image-texts {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 360px) {
  .secondCarousel .swiper-slide {
    width: 100% !important;
    max-width: 317px !important;
  }
  .swiper-button-right {
    display: none !important;
  }
  .swiper-button-left {
    display: none !important;
  }
  .secondCarousel__box {
    width: 100%;
    height: 327px;
  }
  .secondCarousel__images {
    width: 100%;
    height: 327px;
  }
  .secondCarousel__image-texts {
    font-family: "ppneuemontreal";
  }
}
