.secondCarousel {
}
.secondCarousel .swiper-slide {
  width: 100% !important;
  max-width: 583px !important;
}
.secondCarousel__container {
}
.swiper-button-right {
  width: 96px !important;
  height: 96px !important;
  background-image: url("../../../public/icons/right__chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-100px) !important;
}
.swiper-button-left {
  width: 96px !important;
  height: 96px !important;
  background-image: url("../../../public/icons/chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-100px) !important;
}
.secondCarousel__swiper {
}
.secondCarousel__swiperSlide {
}
.secondCarousel__box {
  width: 100%;
  height: 600px;
}
.secondCarousel__images {
  width: 100%;
  height: 600px;
}
.secondCarousel__image-texts {
  font-family: "ppneuemontreal";
}
@media (max-width: 1024px) {
  .secondCarousel {
  }
  .secondCarousel .swiper-slide {
    width: 100% !important;
    max-width: 583px !important;
  }
  .secondCarousel__container {
  }
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
  .secondCarousel__swiper {
  }
  .secondCarousel__swiperSlide {
  }
  .secondCarousel__box {
    width: 100%;
    height: 600px;
  }
  .secondCarousel__images {
    width: 100%;
    height: 600px;
  }
  .secondCarousel__image-texts {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 767px) {
  .secondCarousel {
  }
  .secondCarousel .swiper-slide {
    width: 100% !important;
    max-width: 327px !important;
  }
  .secondCarousel__container {
  }
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
  .secondCarousel__swiper {
  }
  .secondCarousel__swiperSlide {
  }
  .secondCarousel__box {
    width: 100%;
    height: 327px;
  }
  .secondCarousel__images {
    width: 100%;
    height: 327px;
  }
  .secondCarousel__image-texts {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 360px) {
  .secondCarousel {
  }
  .secondCarousel .swiper-slide {
    width: 100% !important;
    max-width: 317px !important;
  }
  .secondCarousel__container {
  }
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
  .secondCarousel__swiper {
  }
  .secondCarousel__swiperSlide {
  }
  .secondCarousel__box {
    width: 100%;
    height: 327px;
  }
  .secondCarousel__images {
    width: 100%;
    height: 327px;
  }
  .secondCarousel__image-texts {
    font-family: "ppneuemontreal";
  }
}
