.countries__top-box::-webkit-scrollbar {
  display: none !important;
}
.countries__top-buttons {
  font-family: "ppneuemontreal";
}
.countries__top-info-title {
  font-family: "ppneuemontreal";
}
.countries__top-info-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 767px) {
  .countries__top-box::-webkit-scrollbar {
    display: none !important;
  }
  .countries__top-buttons {
    font-family: "ppneuemontreal";
  }
  .countries__top-info-title {
    font-family: "ppneuemontreal";
  }
  .countries__top-info-text {
    font-family: "ppneuemontreal";
  }
}
