.unique {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/images/unique__xl-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unique__container {
}
.unique__logo-image {
}
.unique__text {
  font-family: "ppneuemontreal";
}
.unique__title {
  font-family: "ppneuemontreal";
}
.unique__title-span {
  font-family: "ppneuemontreal";
}
.unique__button {
  font-family: "ppneuemontreal";
}
.unique__button {
  cursor: pointer !important;
  font-size: 24px;
  font-weight: 500;
  color: white;
  line-height: 24px;
  text-align: center;
  padding: 15px 27px;
  border: 2px solid #656267;
  border-radius: 32px;
  background: linear-gradient(180deg, #b4a297, #b4a297, #b4a297, #ffffff);
  background-size: 180% 180%;
  animation: gradient-animation-fourth 8s ease infinite;
  font-family: "ppneuemontreal";
  & svg {
    transform: rotate(45deg);
    transition: all 450ms ease;
    & path {
      transition: all 450ms ease;
      fill: white;
    }
  }
  &:hover {
    & svg {
      transition: all 450ms ease;
      transform: rotate(0);
      & path {
        fill: white;
      }
    }
  }
}
@keyframes gradient-animation-fourth {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@media (max-width: 1024px) {
  .unique {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/images/unique__md-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .unique__container {
  }
  .unique__logo-image {
  }
  .unique__text {
    font-family: "ppneuemontreal";
  }
  .unique__title {
    font-family: "ppneuemontreal";
  }
  .unique__title-span {
    font-family: "ppneuemontreal";
  }
  .unique__button {
    font-family: "ppneuemontreal";
  }
  .unique__button {
    cursor: pointer !important;
    font-size: 24px;
    font-weight: 500;
    color: white;
    line-height: 24px;
    text-align: center;
    padding: 21px 37px;
    border: 2px solid #656267;
    border-radius: 32px;
    background: linear-gradient(180deg, #b4a297, #b4a297, #b4a297, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation-fourth 8s ease infinite;
    font-family: "ppneuemontreal";
    & svg {
      transform: rotate(0deg);
      transition: all 100ms ease;
      & path {
        transition: all 100ms ease;
        fill: white;
      }
    }
    &:active {
      & svg {
        transition: all 100ms ease;
        transform: rotate(0deg);
        & path {
          fill: white;
        }
      }
    }
  }
  @keyframes gradient-animation-fourth {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
}
@media (max-width: 767px) {
  .unique {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/images/unique__background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .unique__container {
  }
  .unique__logo-image {
  }
  .unique__text {
    font-family: "ppneuemontreal";
  }
  .unique__title {
    font-family: "ppneuemontreal";
  }
  .unique__title-span {
    font-family: "ppneuemontreal";
  }
  .unique__button {
    font-family: "ppneuemontreal";
  }
  .unique__button {
    cursor: pointer !important;
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 18px;
    text-align: center;
    padding: 14px 24px;
    border: 2px solid #656267;
    border-radius: 32px;
    background: linear-gradient(180deg, #b4a297, #b4a297, #b4a297, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation-fourth 8s ease infinite;
    font-family: "ppneuemontreal";
    & svg {
      transform: rotate(0deg);
      transition: all 100ms ease;
      & path {
        transition: all 100ms ease;
        fill: white;
      }
    }
    &:active {
      & svg {
        transition: all 100ms ease;
        transform: rotate(0deg);
        & path {
          fill: white;
        }
      }
    }
  }
  @keyframes gradient-animation-fourth {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
}
