.exclusivePhotos {
	padding: 50px 0;

	&__container {
		.wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, 140px);
			gap: 15px;

			.image {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 8px;

				&:nth-child(odd) {
					grid-row: span 2;
				}
			}
		}
	}
}

@media screen and (min-width: 460px) {
	.exclusivePhotos {
		&__container {
			.wrapper {
				grid-template-rows: repeat(5, 200px);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.exclusivePhotos {
		&__container {
			.wrapper {
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(3, 240px);

				.image {
					&:nth-child(6) {
						grid-row: span 2;
					}

					&:nth-child(7) {
						grid-row: auto;
					}
				}
			}
		}
	}
}
