.exclusivePhotos {
	padding: 50px 0;
	
	&__container {
		& .wrapper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, 240px);
			gap: 15px;

			& .image {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 8px;

				&:nth-child(1),
				&:nth-child(3),
				&:nth-child(5),
				&:nth-child(6) {
					grid-row: span 2 / span 2;
				}
			}
		}
	}
}
