.homeSlide {
	margin-top: 40px;

	& .swiper-wrapper {
		& .swiper-slide {
			width: 320px;
			font-weight: 500;
			color: $color-text;
		}
	}
}

@media screen and (min-width: 1024px) {
	.homeSlide {
		& .swiper-wrapper {
			& .swiper-slide {
				width: 420px;
			}
		}
	}
}