.section {
	background-image: url(/images/end_section_bg.png);
	background-size: cover;
	// background-position: 0 160px;
	background-position: center 80px;
	background-repeat: no-repeat;
	// height: 100vh;
	height: 70vh;
}