.section {
	height: 70vh;
	background-image: url(/images/end_section_bg.png);
	background-size: cover;
	background-position: center 80px;
	background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
	.section {
		height: 100vh;
		background-position: 0 160px;
	}
}
