@import "tailwindcss";

@font-face {
	font-family: "PP Neue Montreal";
	src: url(/fonts/ppneuemontreal-medium.otf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "PP Neue Montreal";
	src: url(/fonts/ppneuemontreal-bold.otf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "PP Neue Montreal";
	src: url(/fonts/ppneuemontreal-semibolditalic.otf);
	font-weight: 600;
	font-style: italic;
}

:root {
	--background: #171717;
	--foreground: #ffffff;
	--font-PP_Neue_Montreal: "PP Neue Montreal";
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-family: var(--PP_Neue_Montreal);
	--color-primary: #a5958b;
	--color-text: #323232;
}

body {
	font-family: var(--font-PP_Neue_Montreal), sans-serif;
	background: #fff7f3;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
}

.hero {
	background-image: url(/images/hero_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-weight: 500;
	position: relative;
	color: var(--color-white);
}

.destination__list {
	width: 300px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}

.destination__list--item {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.destination__list--item:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.destination__list--item-link {
	height: 120px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	justify-content: center;
	color: #c3c3c3;
	text-transform: uppercase;
}

.destination__list--item-link .icon {
	position: relative;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.destination__list--item-link .icon .lucide.lucide-move-right {
	position: absolute;
	top: 50%;
	left: -100%;
	transform: translateY(-50%);
	transition: all 0.3s ease;
}

.destination__list--item-link:hover {
	background: rgba(255, 255, 255, 0.1);
	color: #ffffff;

	& .icon {
		opacity: 1;

		& .lucide.lucide-move-right {
			left: -30%;
		}
	}
}

.destination__list--item:first-child {
	border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.destination__list--item:first-child:hover {
	border-color: rgba(255, 255, 255, 0.4);
}

.destination__list--item:last-child {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.destination__list--item span {
	font-size: 1.5rem;
	grid-column: 2 span / 2 span;
}

.country__info {
	padding: 40px 0;
	background-image: url(/images/country_info-bg.png);
	background-size: cover;
	background-position: 700px center;
	background-repeat: no-repeat;
}

.craft__adventure {
	height: 100vh;
	background-image: url(/images/home_section_bg.png);
	background-size: cover;
	background-position: center;
	color: var(--color-white);
	font-weight: 500;
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 12px;
}
.pagination li {
	list-style: none;
}
.pagination li a {
	width: 48px;
	height: 48px;
	display: grid;
	place-content: center;
	border: 1px solid #f1f1f1;
	border-radius: 12px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
	font-weight: 600;
}
.pagination li.active a {
	background-color: #a5958b;
	color: white;
	border-color: #f1f1f1;
	cursor: pointer;
}
.pagination li.disabled a {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
	color: #cccccc;
}
.pagination .next a,
.pagination .previous a {
	color: #a5958b;
}

@media screen and (min-width: 1280px) {
	.destination__list {
		display: block;
	}
}
