@import "tailwindcss";

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.pagination li {
  list-style: none;
}

.pagination li a {
  padding: 8px 18px;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-weight: 600;
}

.pagination li.active a {
  background-color: #a5958b;
  color: white;
  border-color: #f1f1f1;
  cursor: pointer;
}

.pagination li.disabled a {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  color: #cccccc;
}

.pagination .next a,
.pagination .previous a {
  color: #a5958b;
}
