:root {
  --warm-gray: #a5958b;
  --white: #ffffff;
  --light-gray: #b9b9b9;
  --white-smoke: #f5f5f5;
  --warm-taupe: #b4a297;
  --soft-cream: #e9ded8;
  --medium-gray: #878787;
  --charcoal: #333333;
  --gunmetal: #323232;
  --gainsboro: #dcdcdc;
  --khaki: #a38e82;
  --seashell: #fff7f3;
}
::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-track {
  background: linear-gradient(
    146deg,
    rgb(255, 255, 255),
    rgb(176, 171, 171),
    rgb(129, 127, 127)
  );
}
::-webkit-scrollbar-thumb {
  background-color: var(--copper__red);
}
::selection {
  background-color: var(--warm-gray);
  color: var(--seashell);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
}
button {
  cursor: pointer;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "ppneuemontreal";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  background-color: var(--seashell);
  color: var(--gunmetal);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.container {
  /* overflow: visible; */
  /* width: 100% !important; */
  margin: 0 auto !important;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
