#email::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #c3c3c3;
}
.footerSmSection__top-text {
  font-family: 'ppneuemontreal';
}
.footerSmSection__form-email-input {
  font-family: 'ppneuemontreal';
}
.footerSmSection__form-text {
  font-family: 'ppneuemontreal';
}
.footerSmSection__list-text {
  font-family: 'ppneuemontreal';
}
.footerSmSection__links-text {
  font-family: 'ppneuemontreal';
}
.footerSmSection__bottom-right-box-title {
  font-family: 'ppneuemontreal';
}
.footerSmSection__bottom-right-box-texts {
  font-family: 'ppneuemontreal';
}
.footerSmSection__copy-text {
  font-family: 'ppneuemontreal';
}
.footerSmSection__developing-text {
  font-family: 'ppneuemontreal';
}
.footerSmSection__copy-logo-text {
  font-family: 'ppneuemontreal';
}
