#email::placeholder {
  font-weight: 500;
  font-size: 18px !important;
  line-height: 24px;
  color: #c3c3c3;
}
.footer {
}
.footer__container {
}
.footer__top-box {
}
.footer__top-left-box {
}
.footer__top-left-logo-link {
}
.footer__top-left-logo-image {
}
.footer__top-left-text {
  font-family: "ppneuemontreal" !important;
}
.footer__top-left-form {
}
.footer__top-left-form-box {
}
.footer__top-left-form-input-box {
}
.footer__top-left-form-email-input {
  font-family: "ppneuemontreal" !important;
}
.footer__top-left-form-button {
}
.footer__top-left-button-icon {
}
.footerxlSection__form-text {
  font-family: "ppneuemontreal" !important;
}
.footer__top-middle-box {
}
.footer__top-middle-list-text {
  font-family: "ppneuemontreal" !important;
}
.footer__top-middle-list {
}
.footer__top-middle-lists {
}
.footer__top-middle-links {
}
.footer__top-middle-links-text {
  font-family: "ppneuemontreal" !important;
}
.footer__top-seond-middle-bottom-right-box {
}
.footer__top-seond-middle-bottom-right-box-title {
  font-family: "ppneuemontreal" !important;
}
.footer__top-seond-middle-bottom-right-box-texts {
  font-family: "ppneuemontreal" !important;
}
.footer__top-seond-middle-icon-box {
}
.footer__top-seond-middle-icon-mini-boxes {
}
.footer__top-seond-middle-icon-links {
}
.footer__top-seond-middle-icon-images {
  transition: 500ms ease all;
  opacity: 1;
}
.footer__top-seond-middle-icon-images:hover {
  opacity: 0.8;
  transform: translate(4px, -4px);
  transition: 500ms ease all;
}
.footer__right-button {
  & svg {
    transform: rotate(0deg) !important;
    transition: all 450ms ease !important;
    & path {
      transition: all 450ms ease !important;
      fill: #a98d7d !important;
    }
  }
  &:hover {
    & svg {
      transition: all 450ms ease !important;
      transform: rotate(-45deg) !important;
      & path {
        fill: #a98d7d !important;
      }
    }
  }
}
.footer__hr {
}
.footer__bottom-box {
}
.footer__bottom-box-copy-box {
}
.footer__bottom-box-copy-text {
  font-family: "ppneuemontreal" !important;
}
.footer__bottom-box-copy-logo-box {
}
.footer__bottom-box-developing-text {
  font-family: "ppneuemontreal" !important;
}
.footer__bottom-box-copy-logo-link {
}
.footer__bottom-box-copy-logo-text {
  font-family: "ppneuemontreal" !important;
}
