#email2::placeholder {
  font-weight: 500;
  font-size: 24px !important;
  line-height: 20px !important;
  color: #c3c3c3 !important;
}
.footerMdSection {
  display: block !important;
}
.footerMdSection__top-text {
  font-family: "ppneuemontreal";
}
.footerMdSection__form-email-input {
  font-family: "ppneuemontreal";
}
.footerMdSection__form-text {
  font-family: "ppneuemontreal";
}
.footerMdSection__list-text {
  font-family: "ppneuemontreal";
}
.footerMdSection__links-text {
  font-family: "ppneuemontreal";
}
.footerMdSection__bottom-right-box-title {
  font-family: "ppneuemontreal";
}
.footerMdSection__bottom-right-box-texts {
  font-family: "ppneuemontreal";
}
.footerMdSection__copy-text {
  font-family: "ppneuemontreal";
}
.footerMdSection__developing-text {
  font-family: "ppneuemontreal";
}
.footerMdSection__copy-logo-text {
  font-family: "ppneuemontreal";
}
