.blog_hero {
  height: 100vh;
  background: center / cover no-repeat
    url("../../../public/images/blog_hero_bg.png");
  position: relative;
}

.blog_detail-slide {
  width: 60%;
  height: 100%;
  margin: 0;
  border-radius: 16px;
}

.line {
  width: 82px;
  height: 1px;
  background: #000;
  position: relative;
}

.line::before,
.line::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.line::before {
  left: -3.5px;
}

.line::after {
  right: -3.5px;
}

.slide_button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #a5958b1a;
  border: 2px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: all 0.3s ease;
}

.slide_button:hover {
  background: #a5958b33;
}

.slide_button::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #a5958b;
  position: absolute;
  border-radius: 4px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateX(0);
}

.slide_button-prev::before {
  left: 22px;
  transform: translateX(40px);
}

.slide_button-prev:hover::before {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.slide_button-next::before {
  right: 22px;
  transform: translateX(-40px);
}

.slide_button-next:hover::before {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-left: 3px solid #a5958b;
  border-bottom: 3px solid #a5958b;
}

.slide_button-prev .arrow {
  transform: rotate(45deg);
}

.slide_button-next .arrow {
  transform: rotate(-135deg);
}

.tripPlacesSlide .swiper-wrapper .swiper-slide {
  width: fit-content;
}
