.blog_hero {
  height: 100vh;
  background-image: url("../../../public/images/blog_hero_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.blog_detail-slide {
  width: 60%;
  height: 100%;
  margin: 0;
  border-radius: 16px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
