.contact_section {
  background-image: url(../../../public/images/contact_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0 40px 0;
}
.contact_section-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #a5958be5;
}
@media screen and (min-width: 1024px) {
  .form_container {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -90px;
      width: 2px;
      height: 100%;
      background: #ffffff;
    }
  }
}