/* ==================== Global Styles ==================== */
.blog_hero {
  height: 100vh;
  background: center / cover no-repeat url('/images/blog_hero_bg.png');
  position: relative;
}

.tripPlacesSlide .swiper-wrapper .swiper-slide {
  width: fit-content;
  height: 100%;
  margin: 0;
  border-radius: 16px;
}

/* ==================== Trip Detail Slide ==================== */
.tripDetail-slide {
  position: relative;
  z-index: 10;
}

.tripDetail-slide .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #d9d9d9;
  transition: all 0.5s ease;
}

.tripDetail-slide .swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 32px;
  background: #ffffff;
  border-radius: 8px;
}

.tripDetail-slide .swiper-button-prev,
.tripDetail-slide .swiper-button-next {
  width: 54px;
  height: 54px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tripDetail-slide .swiper-button-prev::after,
.tripDetail-slide .swiper-button-next::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  pointer-events: none;
}

.tripDetail-slide .swiper-button-prev::after {
  transform: rotate(45deg);
}

.tripDetail-slide .swiper-button-next::after {
  transform: rotate(-135deg);
}

.tripDetail-slide .swiper-button-prev::before,
.tripDetail-slide .swiper-button-next::before {
  content: '';
  width: 60px;
  height: 3px;
  background: #ffffff;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.tripDetail-slide .swiper-button-prev::before {
  left: 45px;
}

.tripDetail-slide .swiper-button-prev:hover::before {
  left: 15px;
  opacity: 1;
  visibility: visible;
}

.tripDetail-slide .swiper-button-next::before {
  right: 45px;
}

.tripDetail-slide .swiper-button-next:hover::before {
  right: 15px;
  opacity: 1;
  visibility: visible;
}

/* ==================== Trip place slide ==================== */

.tripPlacesSlide .swiper-wrapper .swiper-slide {
  border-radius: 16px;
  overflow: hidden;
}

/* ==================== Slide Button ==================== */
.slide_button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #a5958b1a;
  border: 2px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: all 0.3s ease;
}

.slide_button:hover {
  background: #a5958b33;
  border-color: #bebebe;
}

.slide_button::before {
  content: '';
  width: 60px;
  height: 4px;
  background: #a5958b;
  position: absolute;
  border-radius: 4px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.slide_button-prev::before {
  left: 22px;
  transform: translateX(40px);
}

.slide_button-prev:hover::before {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.slide_button-next::before {
  right: 22px;
  transform: translateX(-40px);
}

.slide_button-next:hover::before {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-left: 3px solid #a5958b;
  border-bottom: 3px solid #a5958b;
}

.slide_button-prev .arrow {
  transform: rotate(45deg);
}

.slide_button-next .arrow {
  transform: rotate(-135deg);
}

/* ==================== Introduction Section ==================== */
.introduction_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #bdbdbd;
  position: relative;
}

.introduction_header::before {
  content: '';
  background-image: url(/icons/introdution.svg);
  background-size: cover;
  position: absolute;
  left: -40px;
  width: 20px;
  height: 20px;
}

.introduction_list {
  position: relative;
}

.introduction_list::before {
  content: '';
  position: absolute;
  top: 40px;
  left: -30px;
  width: 2px;
  height: calc(100% - 60px);
  background: #a5958b;
}

.introduction_list-item {
  position: relative;
}

.introduction_list-item::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -39px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a5958b;
}

/* ==================== Accordion Section ==================== */
.accordion {
  position: relative;
}

.accordion__details {
  padding: 12px 0;
  cursor: pointer;
}

.accordion__details summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion__details summary::marker {
  content: '';
}

.accordion__details .accordion__title {
  font-weight: 500;
  font-size: 16px;
  color: #323232;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  column-gap: 8px;
}

.accordion__details[open] summary .accordion-icon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s;
}

.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
}

.accordion__content-body {
  overflow: hidden;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.accordion__content-body-item {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #878787;
  padding-bottom: 40px;
}

.data-price_list .data-price_list-item .accordion {
  border-bottom: 1px solid #bdbdbd;
}

/* ==================== Media Queries ==================== */
@media screen and (min-width: 768px) {
  .introduction_header::before {
    width: 30px;
    height: 30px;
    left: -50px;
  }

  .introduction_list::before {
    top: 50px;
    left: -35px;
    height: calc(100% - 80px);
  }

  .introduction_list-item::before {
    top: 25px;
    left: -47px;
    width: 26px;
    height: 26px;
  }

  .accordion__details {
    padding: 24px 0;
  }

  .accordion__details .accordion__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .introduction_header::before {
    width: 40px;
    height: 40px;
    left: -80px;
  }

  .introduction_list::before {
    top: 60px;
    left: -60px;
    height: calc(100% - 100px);
  }

  .introduction_list-item::before {
    top: 40px;
    left: -75px;
    width: 32px;
    height: 32px;
  }

  .accordion__details .accordion__title {
    font-size: 24px;
  }

  .tripDetail-slide .swiper-button-prev,
  .tripDetail-slide .swiper-button-next {
    display: flex;
  }
}
