.trip-finder {
  height: 100vh;
  background-image: url(../../../public/images/trip-finder-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  & h1 {
    font-weight: 500;
    font-size: 63px;
    line-height: 60px;
    letter-spacing: -2%;
    text-align: center;
    color: #ffffff;

    & span {
      color: #ffffff4d;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.pagination li {
  list-style: none;
}

.pagination li a {
  padding: 8px 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-weight: 600;
}

.pagination li.active a {
  background-color: #a5958b;
  color: white;
  border-color: #a5958b;
  cursor: pointer;
}

.pagination li.disabled a {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination .next a {
  color: #a5958b;
}

@media screen and (min-width: 768px) {
  .trip-finder {
    & h1 {
      font-size: 140px;
      line-height: 160px;
      letter-spacing: -2%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .trip-finder {
    & h1 {
      font-size: 160px;
    }
  }
}
