.fifthCivilization {
}
.fifthCivilization__container {
}
.fifthCivilization__top-box {
}
.fifthCivilization__top-title {
  font-family: "ppneuemontreal";
}
.fifthCivilization__top-text {
  font-family: "ppneuemontreal";
}
.fifthCivilization__bottom-box {
}
.fifthCivilization__bottom-title {
  font-family: "ppneuemontreal";
}
.fifthCivilization__bottom-text {
}
.fifthCivilization__bottom-second-text {
  font-family: "ppneuemontreal";
}
.fifthCivilization__bottom-box-images {
}
.fifthCivilization__mini-bottom {
}
.fifthCivilization__bottom-left-image {
}
.fifthCivilization__bottom-right-image-box {
}
.fifthCivilization__bottom-right-image {
}
