.fifthCivilization__top-title {
  font-family: "ppneuemontreal";
}
.fifthCivilization__top-text {
  font-family: "ppneuemontreal";
}
.fifthCivilization__bottom-title {
  font-family: "ppneuemontreal";
}
.fifthCivilization__bottom-second-text {
  font-family: "ppneuemontreal";
}
