.heroSixth {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.heroSixth::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../public/images/turkmenistan__xl.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
  animation: zoomInOut 10s ease-in-out infinite;
  z-index: 0;
}
.heroSixth__container {
  position: relative;
  z-index: 1;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.heroSixth__title {
  font-family: "ppneuemontreal";
}
.heroSixth__text {
  font-family: "ppneuemontreal";
}
.heroSixth__span-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1024px) {
  .heroSixth {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .heroSixth::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../../public/images/turkmenistan__xl.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: center;
    animation: zoomInOut 10s ease-in-out infinite;
    z-index: 0;
  }
  .heroSixth__container {
    position: relative;
    z-index: 1;
  }
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .heroSixth__title {
    font-family: "ppneuemontreal";
  }
  .heroSixth__text {
    font-family: "ppneuemontreal";
  }
  .heroSixth__span-text {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 767px) {
  .heroSixth {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .heroSixth::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../../public/images/turkmenistan__xl.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: center;
    animation: zoomInOut 10s ease-in-out infinite;
    z-index: 0;
  }
  .heroSixth__container {
    position: relative;
    z-index: 1;
  }
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .heroSixth__title {
    font-family: "ppneuemontreal";
  }
  .heroSixth__text {
    font-family: "ppneuemontreal";
  }
  .heroSixth__span-text {
    font-family: "ppneuemontreal";
  }
}
