.turkmenistan__bottom-card-title {
  font-family: "ppneuemontreal";
}
.turkmenistan__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1279px) {
  .turkmenistan {
    display: none !important;
  }
  .turkmenistan__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .turkmenistan__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
