.heroThird {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.heroThird::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../public/images/kazakhstan__xl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
  animation: zoomInOut 8s ease-in-out infinite;
  z-index: 0;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.heroThird__container {
  position: relative;
  z-index: 1;
}
.heroThird__title {
  font-family: "ppneuemontreal";
}
.heroThird__text {
  font-family: "ppneuemontreal";
}
.heroThird__button {
}
