.heroThird {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> 467e459765b3dff1e4800e189abbaa6b7a5f9895
}
.heroThird::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../public/images/kazakhstan__xl.jpg");
<<<<<<< HEAD
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
  animation: zoomInOut 8s ease-in-out infinite;
  z-index: 0;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
=======
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
  animation: zoomInOut 10s ease-in-out infinite;
  z-index: 0;
}
.heroThird__container {
  position: relative;
  z-index: 1;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.heroThird__title {
  font-family: "ppneuemontreal";
}
.heroThird__text {
  font-family: "ppneuemontreal";
}
.heroThird__span-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1024px) {
  .heroThird {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
>>>>>>> 467e459765b3dff1e4800e189abbaa6b7a5f9895
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
<<<<<<< HEAD
}
.heroThird__container {
  position: relative;
  z-index: 1;
}
.heroThird__title {
  font-family: "ppneuemontreal";
}
.heroThird__text {
  font-family: "ppneuemontreal";
}
.heroThird__button {
=======
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .heroThird__title {
    font-family: "ppneuemontreal";
  }
  .heroThird__text {
    font-family: "ppneuemontreal";
  }
  .heroThird__span-text {
    font-family: "ppneuemontreal";
  }
}
@media (max-width: 767px) {
  .heroThird {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .heroThird::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../../public/images/kazakhstan__xl.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: center;
    animation: zoomInOut 10s ease-in-out infinite;
    z-index: 0;
  }
  .heroThird__container {
    position: relative;
    z-index: 1;
  }
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .heroThird__title {
    font-family: "ppneuemontreal";
  }
  .heroThird__text {
    font-family: "ppneuemontreal";
  }
  .heroThird__span-text {
    font-family: "ppneuemontreal";
  }
>>>>>>> 467e459765b3dff1e4800e189abbaa6b7a5f9895
}
