.kazakhstan {
}
.kazakhstan__container {
}
.kazakhstan__circle-map {
}
.kazakhstan__top-map {
}
.kazakhstan__top-box {
}
.kazakhstan__bottom-card {
}
.kazakhstan__bottom-card-image {
}
.kazakhstan__bottom-card-title {
  font-family: "ppneuemontreal";
}
.kazakhstan__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1279px) {
  .kazakhstan {
    display: none !important;
  }
  .kazakhstan__container {
  }
  .kazakhstan__circle-map {
  }
  .kazakhstan__top-map {
  }
  .kazakhstan__top-box {
  }
  .kazakhstan__bottom-card {
  }
  .kazakhstan__bottom-card-image {
  }
  .kazakhstan__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .kazakhstan__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
