.kazakhstan__bottom-card-title {
  font-family: "ppneuemontreal";
}
.kazakhstan__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1279px) {
  .kazakhstan {
    display: none !important;
  }
  .kazakhstan__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .kazakhstan__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
