.secondCivilization__top-title {
  font-family: "ppneuemontreal";
}
.secondCivilization__top-text {
  font-family: "ppneuemontreal";
}
.secondCivilization__bottom-title {
  font-family: "ppneuemontreal";
}
.secondCivilization__bottom-second-text {
  font-family: "ppneuemontreal";
}
