.secondFilter {
  display: none !important;
}
.secondFilter__container {
}
.secondFilter__top-box::-webkit-scrollbar {
  display: none !important;
}
.secondFilter__top-buttons {
  outline: none !important;
  white-space: nowrap;
  font-family: "ppneuemontreal";
}
.secondFilter__bottom-box {
}
.secondFilter__bottom-card {
}
.secondFilter__bottom-card-image {
}
.secondFilter__bottom-card-title {
  font-family: "ppneuemontreal";
}
.secondFilter__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1280px) {
  .secondFilter {
    display: block !important;
  }
  .secondFilter__container {
  }
  .secondFilter__top-box::-webkit-scrollbar {
    display: none !important;
  }
  .secondFilter__top-buttons {
    font-family: "ppneuemontreal";
  }
  .secondFilter__bottom-box {
  }
  .secondFilter__bottom-card {
  }
  .secondFilter__bottom-card-image {
  }
  .secondFilter__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .secondFilter__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
