.secondCivilization {
}
.secondCivilization__container {
}
.secondCivilization__top-box {
}
.secondCivilization__top-title {
  font-family: "ppneuemontreal";
}
.secondCivilization__top-text {
  font-family: "ppneuemontreal";
}
.secondCivilization__bottom-box {
}
.secondCivilization__bottom-title {
  font-family: "ppneuemontreal";
}
.secondCivilization__bottom-text {
}
.secondCivilization__bottom-second-text {
  font-family: "ppneuemontreal";
}
.secondCivilization__bottom-box-images {
}
.secondCivilization__mini-bottom {
}
.secondCivilization__bottom-left-image {
}
.secondCivilization__bottom-right-image-box {
}
.secondCivilization__bottom-right-image {
}
