.fourthCivilization {
}
.fourthCivilization__container {
}
.fourthCivilization__top-box {
}
.fourthCivilization__top-title {
  font-family: "ppneuemontreal";
}
.fourthCivilization__top-text {
  font-family: "ppneuemontreal";
}
.fourthCivilization__bottom-box {
}
.fourthCivilization__bottom-title {
  font-family: "ppneuemontreal";
}
.fourthCivilization__bottom-text {
}
.fourthCivilization__bottom-second-text {
  font-family: "ppneuemontreal";
}
.fourthCivilization__bottom-box-images {
}
.fourthCivilization__mini-bottom {
}
.fourthCivilization__bottom-left-image {
}
.fourthCivilization__bottom-right-image-box {
}
.fourthCivilization__bottom-right-image {
}
