.fourthCivilization__top-title {
  font-family: "ppneuemontreal";
}
.fourthCivilization__top-text {
  font-family: "ppneuemontreal";
}
.fourthCivilization__bottom-title {
  font-family: "ppneuemontreal";
}
.fourthCivilization__bottom-second-text {
  font-family: "ppneuemontreal";
}