.fourthFilter {
  display: none !important;
}
.fourthFilter__container {
}
.fourthFilter__top-box::-webkit-scrollbar {
  display: none !important;
}
.fourthFilter__top-buttons {
  outline: none !important;
  white-space: nowrap;
  font-family: "ppneuemontreal";
}
.fourthFilter__bottom-box {
}
.fourthFilter__bottom-card {
}
.fourthFilter__bottom-card-image {
}
.fourthFilter__bottom-card-title {
  font-family: "ppneuemontreal";
}
.fourthFilter__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1024px) {
  .fourthFilter {
    display: block !important;
  }
  .fourthFilter__container {
  }
  .fourthFilter__top-box::-webkit-scrollbar {
    display: none !important;
  }
  .fourthFilter__top-buttons {
    font-family: "ppneuemontreal";
  }
  .fourthFilter__bottom-box {
  }
  .fourthFilter__bottom-card {
  }
  .fourthFilter__bottom-card-image {
  }
  .fourthFilter__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .fourthFilter__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
