.kyrgyzstan__bottom-card-title {
  font-family: "ppneuemontreal";
}
.kyrgyzstan__bottom-card-text {
  font-family: "ppneuemontreal";
}
@media (max-width: 1279px) {
  .kyrgyzstan {
    display: none !important;
  }
  .kyrgyzstan__bottom-card-title {
    font-family: "ppneuemontreal";
  }
  .kyrgyzstan__bottom-card-text {
    font-family: "ppneuemontreal";
  }
}
