.drawerHeader {
  display: none !important;
}
.drawerHeader__links-texts {
  font-family: 'ppneuemontreal';
}
.drawerHeader__button-text {
  font-family: 'ppneuemontreal';
}
.drawerHeader__second-links-texts {
  font-family: 'ppneuemontreal';
}
.drawerHeader__third-links-texts {
  font-family: 'ppneuemontreal';
}
.drawerHeader__contact-button {
  font-family: 'ppneuemontreal';
}
@media (max-width: 1279px) {
  .drawerHeader {
    display: block !important;
  }
  .drawerHeader__links-texts {
    font-family: 'ppneuemontreal';
  }
  .drawerHeader__button-text {
    font-family: 'ppneuemontreal';
  }
  .drawerHeader__second-links-texts {
    font-family: 'ppneuemontreal';
  }
  .drawerHeader__third-links-texts {
    font-family: 'ppneuemontreal';
  }
  .drawerHeader__contact-button {
    font-family: 'ppneuemontreal';
  }
}
@media (max-width: 767px) {
  .drawerHeader {
    display: block !important;
  }
  .drawerHeader__links-texts {
    font-family: 'ppneuemontreal';
  }
  .drawerHeader__button-text {
    font-family: 'ppneuemontreal';
  }
  .drawerHeader__second-links-texts {
    font-family: 'ppneuemontreal';
  }
  .drawerHeader__third-links-texts {
    font-family: 'ppneuemontreal';
  }
  .drawerHeader__contact-button {
    font-family: 'ppneuemontreal';
  }
}
