#email::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #c3c3c3;
}
.footerSmSection {
}
.footerSmSection__container {
}
.footerSmSection__top {
}
.footerSmSection__top-logo {
}
.footerSmSection__top-text {
  font-family: "ppneuemontreal";
}
.footerSmSection__form {
}
.footerSmSection__form-box {
}
.footerSmSection__form-input-box {
}
.footerSmSection__form-email-input {
  font-family: "ppneuemontreal";
}
.footerSmSection__form-button {
}
.footerSmSection__form-button-icon {
}
.footerSmSection__form-text {
  font-family: "ppneuemontreal";
}
.footerSmSection__bottom-box {
}
.footerSmSection__nav {
}
.footerSmSection__list {
}
.footerSmSection__list-text {
  font-family: "ppneuemontreal";
}
.footerSmSection__lists {
}
.footerSmSection__links {
}
.footerSmSection__links-text {
  font-family: "ppneuemontreal";
}
.footerSmSection__bottom-right-box {
}
.footerSmSection__bottom-right-box-title {
  font-family: "ppneuemontreal";
}
.footerSmSection__bottom-right-box-texts {
  font-family: "ppneuemontreal";
}
.footerSmSection__icon-box {
}
.footerSmSection__icon-mini-boxes {
}
.footerSmSection__icon-links {
}
.footerSmSection__icon-images {
}
.footerSmSection__button {
}
.footerSmSection__button-icon {
}
.footerSmSection__copy-box {
}
.footerSmSection__copy-text {
  font-family: "ppneuemontreal";
}
.footerSmSection__copy-logo-box {
}
.footerSmSection__developing-text {
  font-family: "ppneuemontreal";
}
.footerSmSection__copy-logo-link {
}
.footerSmSection__copy-logo-text {
  font-family: "ppneuemontreal";
}