.road {
  width: 100%;
  height: 625px;
  background-image: url("../../../public/images/footer__background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.road__container {
}
.road__logo {
}
.road__title {
  margin-bottom: 89px;
  font-family: "ppneuemontreal";
}
.road__title-span {
  font-family: "ppneuemontreal";
  color: #323232;
}
.road__span-box {
}
.road__title-top-span {
  font-family: "ppneuemontreal";
  color: #323232;
}
.road__title-mid-span {
  font-family: "ppneuemontreal";
  color: #707070;
}
.road__title-bottom-span {
  font-family: "ppneuemontreal";
  color: #707070;
}
.road__button {
  cursor: pointer !important;
  font-size: 18px;
  font-weight: 500;
  color: #69382f;
  font-size: 18px;
  text-align: center;
  padding: 14px 24px;
  border: 2px solid #69382f;
  border-radius: 32px;
  background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #ee8c5c);
  background-size: 180% 180%;
  animation: gradient-animation-fourth 8s ease infinite;
  font-family: "ppneuemontreal";
  & svg {
    transform: rotate(45deg);
    transition: all 450ms ease;
    & path {
      transition: all 450ms ease;
      fill: #69382f;
    }
  }
  &:hover {
    & svg {
      transition: all 450ms ease;
      transform: none !important;
      transform: rotate(0);
      & path {
        fill: #69382f;
      }
    }
  }
}
@media (max-width: 1366px) {
  .road {
    width: 100%;
    height: 1050px;
    background-image: url("../../../public/images/footer__md-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .road__container {
  }
  .road__logo {
  }
  .road__title {
    margin-bottom: 89px;
    font-family: "ppneuemontreal";
  }
  .road__title-span {
    font-family: "ppneuemontreal";
    color: #323232;
  }
  .road__span-box {
  }
  .road__title-top-span {
    font-family: "ppneuemontreal";
    color: #323232;
  }
  .road__title-mid-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__title-bottom-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__button {
    cursor: pointer !important;
    font-size: 18px;
    font-weight: 500;
    color: #69382f;
    font-size: 18px;
    text-align: center;
    padding: 14px 24px;
    border: 2px solid #69382f;
    border-radius: 32px;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #ee8c5c);
    background-size: 180% 180%;
    animation: gradient-animation-fourth 8s ease infinite;
    font-family: "ppneuemontreal";
    & svg {
      transform: rotate(45deg);
      transition: all 450ms ease;
      & path {
        transition: all 450ms ease;
        fill: #69382f;
      }
    }
    &:hover {
      & svg {
        transition: all 450ms ease;
        transform: none !important;
        transform: rotate(0);
        & path {
          fill: #69382f;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .road {
    width: 100%;
    height: 662px;
    background-image: url("../../../public/images/footer__md-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .road__container {
  }
  .road__logo {
  }
  .road__title {
    font-family: "ppneuemontreal";
    margin-bottom: 114px;
  }
  .road__title-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__span-box {
  }
  .road__title-top-span {
    font-family: "ppneuemontreal";
    color: #323232;
  }
  .road__title-mid-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__title-bottom-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__button {
    cursor: pointer !important;
    font-size: 24px;
    font-weight: 500;
    color: #69382f;
    line-height: 24px;
    text-align: center;
    padding: 20.73px 33px;
    border: 2px solid #69382f;
    border-radius: 32px;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #f9e2bc);
    background-size: 180% 180%;
    animation: gradient-animation-fourth 8s ease infinite;
    font-family: "ppneuemontreal";
    & svg {
      transform: rotate(45deg);
      transition: all 100ms ease;
      & path {
        transition: all 100ms ease;
        fill: #69382f;
      }
    }
    &:active {
      & svg {
        transition: all 100ms ease;
        transform: none !important;
        transform: rotate(0);
        & path {
          fill: white;
        }
      }
    }
  }
}
@media (max-width: 820px) {
  .road {
    width: 100%;
    height: 662px;
    background-image: url("../../../public/images/footer__md-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .road__container {
  }
  .road__logo {
  }
  .road__title {
    font-family: "ppneuemontreal";
    margin-bottom: 114px;
  }
  .road__title-span {
    font-size: 44px !important;
    line-height: 100% !important;
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__span-box {
  }
  .road__title-top-span {
    font-family: "ppneuemontreal";
    color: #323232;
  }
  .road__title-mid-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__title-bottom-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__button {
    cursor: pointer !important;
    font-size: 24px;
    font-weight: 500;
    color: #69382f;
    line-height: 24px;
    text-align: center;
    padding: 20.73px 33px;
    border: 2px solid #69382f;
    border-radius: 32px;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #f9e2bc);
    background-size: 180% 180%;
    animation: gradient-animation-fourth 8s ease infinite;
    font-family: "ppneuemontreal";
    & svg {
      transform: rotate(45deg);
      transition: all 100ms ease;
      & path {
        transition: all 100ms ease;
        fill: #69382f;
      }
    }
    &:active {
      & svg {
        transition: all 100ms ease;
        transform: none !important;
        transform: rotate(0);
        & path {
          fill: white;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .road {
    z-index: -2 !important;
    width: 100%;
    height: 662px;
    background-image: url("../../../public/images/footer__md-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .road__container {
  }
  .road__logo {
  }
  .road__title {
    font-family: "ppneuemontreal";
    margin-bottom: 79px;
  }
  .road__title-span {
    font-size: 44px !important;
    line-height: 100% !important;
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__span-box {
  }
  .road__title-top-span {
    font-family: "ppneuemontreal";
    color: #323232;
  }
  .road__title-mid-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__title-bottom-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__button {
    cursor: pointer !important;
    font-size: 24px;
    font-weight: 500;
    color: #69382f;
    line-height: 24px;
    text-align: center;
    padding: 20.73px 33px;
    border: 2px solid #69382f;
    border-radius: 32px;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #f9e2bc);
    background-size: 180% 180%;
    animation: gradient-animation-fourth 8s ease infinite;
    font-family: "ppneuemontreal";
    & svg {
      transform: rotate(45deg);
      transition: all 100ms ease;
      & path {
        transition: all 100ms ease;
        fill: #69382f;
      }
    }
    &:active {
      & svg {
        transition: all 100ms ease;
        transform: none !important;
        transform: rotate(0);
        & path {
          fill: white;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .road {
    width: 100%;
    height: 468px;
    background-image: url("../../../public/images/footer__sm-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .road__container {
  }
  .road__logo {
  }
  .road__title {
    margin-bottom: 79px;
    font-family: "ppneuemontreal";
  }
  .road__title-span {
    font-family: "ppneuemontreal";
  }
  .road__span-box {
  }
  .road__title-top-span {
    font-family: "ppneuemontreal";
    color: #323232;
  }
  .road__title-mid-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__title-bottom-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__button {
    cursor: pointer !important;
    font-size: 24px;
    font-weight: 500;
    color: #69382f;
    line-height: 24px;
    text-align: center;
    padding: 20.73px 33px;
    border: 2px solid #69382f;
    border-radius: 32px;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #f9e2bc);
    background-size: 180% 180%;
    animation: gradient-animation-fourth 8s ease infinite;
    font-family: "ppneuemontreal";
    & svg {
      transform: rotate(45deg);
      transition: all 100ms ease;
      & path {
        transition: all 100ms ease;
        fill: #69382f;
      }
    }
    &:active {
      & svg {
        transition: all 100ms ease;
        transform: none !important;
        transform: rotate(0);
        & path {
          fill: white;
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .road {
    width: 100%;
    height: 468px;
    background-image: url("../../../public/images/footer__sm-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .road__container {
  }
  .road__logo {
  }
  .road__title {
    margin-bottom: 69px;
    font-family: "ppneuemontreal";
  }
  .road__title-span {
    font-family: "ppneuemontreal";
  }
  .road__span-box {
  }
  .road__title-top-span {
    font-family: "ppneuemontreal";
    color: #323232;
  }
  .road__title-mid-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__title-bottom-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__button {
    cursor: pointer !important;
    font-size: 24px;
    font-weight: 500;
    color: #69382f;
    line-height: 24px;
    text-align: center;
    padding: 20.73px 33px;
    border: 2px solid #69382f;
    border-radius: 32px;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #f9e2bc);
    background-size: 180% 180%;
    animation: gradient-animation-fourth 8s ease infinite;
    font-family: "ppneuemontreal";
    & svg {
      transform: rotate(45deg);
      transition: all 100ms ease;
      & path {
        transition: all 100ms ease;
        fill: #69382f;
      }
    }
    &:active {
      & svg {
        transition: all 100ms ease;
        transform: none !important;
        transform: rotate(0);
        & path {
          fill: white;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .road {
    width: 100%;
    height: 468px;
    background-image: url("../../../public/images/footer__sm-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .road__container {
  }
  .road__logo {
  }
  .road__title {
    margin-bottom: 45px;
    font-family: "ppneuemontreal";
  }
  .road__title-span {
    font-family: "ppneuemontreal";
  }
  .road__span-box {
  }
  .road__title-top-span {
    font-family: "ppneuemontreal";
    color: #323232;
  }
  .road__title-mid-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__title-bottom-span {
    font-family: "ppneuemontreal";
    color: #707070;
  }
  .road__button {
    cursor: pointer !important;
    font-size: 24px;
    font-weight: 500;
    color: #69382f;
    line-height: 24px;
    text-align: center;
    padding: 20.73px 33px;
    border: 2px solid #69382f;
    border-radius: 32px;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #f9e2bc);
    background-size: 180% 180%;
    animation: gradient-animation-fourth 8s ease infinite;
    font-family: "ppneuemontreal";
    & svg {
      transform: rotate(45deg);
      transition: all 100ms ease;
      & path {
        transition: all 100ms ease;
        fill: #69382f;
      }
    }
    &:active {
      & svg {
        transition: all 100ms ease;
        transform: none !important;
        transform: rotate(0);
        & path {
          fill: white;
        }
      }
    }
  }
}
