.smRoad {
  width: 100%;
  height: 605px;
  background-image: url("../../../public/images/footer__sm-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.smRoad__container {
}
.smRoad-logo-link {
}
.smRoad__logo-image {
}
.smRoad__text-boxes {
}
.smRoad__first-title {
  font-family: "ppneuemontreal";
  opacity: 1 !important;
}
.smRoad__second-title {
  font-family: "ppneuemontreal";
  opacity: 90% !important;
}
.smRoad__third-title {
  font-family: "ppneuemontreal";
  opacity: 50% !important;
}
.smRoad__button {
  cursor: pointer !important;
  font-size: 18px;
  font-weight: 500;
  color: white;
  line-height: 100%;
  text-align: center;
  padding: 14px 24px;
  border: 2px solid #656267;
  border-radius: 32px;
  background: linear-gradient(180deg, #b4a297, #b4a297, #b4a297, #ffffff);
  background-size: 180% 180%;
  animation: gradient-animation-fourth 8s ease infinite;
  font-family: "ppneuemontreal";
  & svg {
    transform: rotate(0deg);
    transition: all 100ms ease;
    & path {
      transition: all 100ms ease;
      fill: white;
    }
  }
  &:active {
    & svg {
      transition: all 100ms ease;
      transform: rotate(0deg);
      & path {
        fill: white;
      }
    }
  }
}
